<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/categories.css">
    <script src="https://kit.fontawesome.com/67c66657c7.js"></script>
</head>
<body>
<div class="header">
    <input type="checkbox" id="check">
    <nav>
        <a href="home"><div class="icon">PaperPlane</div></a>
        <div class="search_box">
            <input type="search" placeholder="Search here">
            <span class="fa fa-search"></span>
        </div>
        <ol>
            <li><a class="home" href="home">home</a></li>
            <li><a class="categories" href="categories">categories</a></li>
            <li><a class="contact" href="contact">contact</a></li>
            <li><a class="about" href="about">about</a></li>
            <li><a class="sign up" href="login">login</a></li>
            <li><a class="sign up" href="sign_up">sign up</a></li>
        </ol>
        <label for="check" class="bar">
            <span class="fa fa-bars" id="bars"></span>
            <span class="fa fa-times" id="times"></span>
        </label>
    </nav>
</div>



    <div class="featured_block container-fluid">

    </div>

<script src="js/products.js"></script>
</body>
</html>